[submodule "OpenESPI-DataCustodian-java"]
	path = OpenESPI-DataCustodian-java
	url = git@github.com:energyos/OpenESPI-DataCustodian-java.git
[submodule "OpenESPI-ThirdParty-java"]
	path = OpenESPI-ThirdParty-java
	url = git@github.com:energyos/OpenESPI-ThirdParty-java.git
